<h2> Skills </h2>

<ul>

  <!-- Rendering template -->
  <li *ngFor='let skill of data?.skills'> {{ skill }} </li>

</ul>

<button 
  *ngIf='data?.editMode' 
  (click)="dialog.openDialog('SKI')"
  mat-stroked-button class='spread' color="dark"> + </button>

<br />
<br />

<h2> Achievements </h2>

<ul>

  <!-- Rendering template -->
  <li *ngFor='let feat of data?.achievements'> {{ feat }} </li>

</ul>

<button 
  *ngIf='data?.editMode' 
  (click)="dialog.openDialog('ACH')" 
  mat-stroked-button class='spread' color="dark"> + </button>

<br />
<br />
