<h2> Skills </h2>

<button *ngIf='data?.editMode' (click)="dialog.openDialog('SKI')" mat-stroked-button class='spread' color="dark"> +
</button>

<ul>
  <!-- Rendering template -->
  <app-rm-panel *ngFor='let skill of data?.skills; index as it' (close)='deleteSkill(it)'>
    <li> {{ skill }} </li>
  </app-rm-panel>
</ul>

<br />
<br />

<h2> Achievements </h2>

<button *ngIf='data?.editMode' (click)="dialog.openDialog('ACH')" mat-stroked-button class='spread' color="dark"> +
</button>

<ul>
  <!-- Rendering template -->
  <app-rm-panel *ngFor='let feat of data?.achievements; index as it' (close)='deleteAchievement(it)'>
    <li> {{ feat }} </li>
  </app-rm-panel>
</ul>

<br />
<br />
