<h2 *ngIf='data.editMode || data.skills.length !== 0'> Skills </h2>

<button *ngIf='data?.editMode' (click)="dialog.openDialog('SKI')" mat-stroked-button class='spread' color="dark"> +
</button>

<ul>
  <!-- Rendering template -->
  <app-rm-panel size='small' *ngFor='let skill of data?.skills; index as it' (close)='deleteSkill(it)'>
    <li> {{ skill }} </li>
  </app-rm-panel>
</ul>

<br />
<br />

<h2 *ngIf='data.editMode || data.achievements.length !== 0'> Achievements </h2>

<button *ngIf='data?.editMode' (click)="dialog.openDialog('ACH')" mat-stroked-button class='spread' color="dark"> +
</button>

<ul>
  <!-- Rendering template -->
  <app-rm-panel size='small' *ngFor='let feat of data?.achievements; index as it' (close)='deleteAchievement(it)'>
    <li> {{ feat }} </li>
  </app-rm-panel>
</ul>

<br />
<br />

<h2 *ngIf='data.editMode || data.certifications.length !== 0'> Certifications </h2>

<button *ngIf='data?.editMode' (click)="dialog.openDialog('CER')" mat-stroked-button class='spread' color="dark"> +
</button>

<ul>
  <!-- Rendering template -->
  <app-rm-panel size='small' *ngFor='let certificate of data?.certifications; index as it' (close)='deleteCertificate(it)'>
    <li style='padding-left: 20px;'> {{ certificate }} </li>
  </app-rm-panel>
</ul>


<br/>
<br/>
