<form [formGroup]='education' *ngIf='dialog.code === "EDU"'>
  <h2 mat-dialog-title>Add Education</h2>

  <mat-form-field appearance="fill">
    <mat-label>Institute</mat-label>
    <input matInput placeholder="Institute name" formControlName='authority' required>
    <mat-error *ngIf="this.education.controls.authority"> Field cannot be empty </mat-error>
  </mat-form-field>

  <br />
  <br />

  <mat-form-field appearance="fill">
    <mat-label>Credential Type</mat-label>
    <mat-select required formControlName='type'>
      <mat-option *ngFor='let type of ctypes; index as it' [value]='it'>
        {{ type }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <br />
  <h4> Merit details </h4>

  <mat-form-field appearance="fill">
    <mat-label>Score</mat-label>
    <input matInput formControlName='score' placeholder="Enter result" required>
    <mat-error *ngIf="this.education.controls.score.invalid"> Invalid value entered </mat-error>
  </mat-form-field>

  <div class="space-between" mat-dialog-actions>
    <button mat-button mat-dialog-close>Close</button>
    <button mat-button [disabled]='education.invalid' (click)='onSave("EDU")' color='primary'>Save</button>
  </div>
</form>


<form [formGroup]='experience' *ngIf='dialog.code === "EXP"'>
  <h2 mat-dialog-title>Add Experience</h2>

  <mat-form-field appearance="fill">
    <mat-label>Organization</mat-label>
    <input matInput placeholder="Enter organization name" formControlName='company' required>
    <mat-error *ngIf="this.experience.controls.company.invalid"> Field cannot be empty </mat-error>
  </mat-form-field>

  &nbsp;

  <mat-form-field appearance="fill">
    <mat-label>Designation</mat-label>
    <input matInput placeholder="Enter position details" formControlName='position' required>
    <mat-error *ngIf="this.experience.controls.position.invalid"> Field cannot be empty </mat-error>
  </mat-form-field>

  <br />
  <br />

  <div class='start-exp'>

    <mat-form-field appearance="fill">
      <mat-label>Start month</mat-label>
      <mat-select required formControlName='startMonth'>
        <mat-option *ngFor='let month of months; index as it' [value]='it'>
          {{ month }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    &nbsp;

    <mat-form-field appearance="fill">
      <mat-label>Start year</mat-label>
      <mat-select required formControlName='startYear'>
        <mat-option *ngFor='let year of years;' [value]='year'>
          {{ year }}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </div>

  <br />

  <mat-checkbox [checked]='present' (change)="present=!present">
    I'm currently working at this role
  </mat-checkbox>

  <br />
  <br />

  <div class="end-exp" *ngIf='!present'>

    <mat-form-field appearance="fill">
      <mat-label>End month</mat-label>
      <mat-select formControlName='endMonth'>
        <mat-option *ngFor='let month of months; index as it' [value]='it'>
          {{ month }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    &nbsp;

    <mat-form-field appearance="fill">
      <mat-label>End year</mat-label>
      <mat-select formControlName='endYear'>
        <mat-option *ngFor='let year of years;' [value]='year'>
          {{ year }}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </div>

  <br />

  <div class="space-between" mat-dialog-actions>
    <button mat-button mat-dialog-close>Close</button>
    <button mat-button [disabled]='experience.invalid' (click)='onSave("EXP")' color='primary'>Save</button>
  </div>
</form>


<form [formGroup]='certifications' *ngIf='dialog.code === "CER"'>
  <h2 mat-dialog-title>Add Certification</h2>

  <mat-form-field appearance="fill">
    <mat-label>Certification Name</mat-label>
    <input matInput placeholder="Enter value here" formControlName='certificate' required>
    <mat-error *ngIf="certifications.invalid"> Field value cannot be empty </mat-error>
  </mat-form-field>

  <div class="space-between" mat-dialog-actions>
    <button mat-button mat-dialog-close>Close</button>
    <button mat-button [disabled]='certifications.invalid' (click)='onSave("CER")' color='primary'>Save</button>
  </div>
</form>


<form [formGroup]='skills' *ngIf='dialog.code === "SKI"'>
  <h2 mat-dialog-title>Add Skill</h2>

  <mat-form-field appearance="fill">
    <mat-label>Skill Name</mat-label>
    <input matInput placeholder="Enter value here" formControlName='skill' required>
    <mat-error *ngIf="skills.invalid"> Field value cannot be empty </mat-error>
  </mat-form-field>

  <div class="space-between" mat-dialog-actions>
    <button mat-button mat-dialog-close>Close</button>
    <button mat-button [disabled]='skills.invalid' (click)='onSave("SKI")' color='primary'>Save</button>
  </div>
</form>


<form [formGroup]='achievements' *ngIf='dialog.code === "ACH"'>
  <h2 mat-dialog-title>Add Achievement</h2>

  <mat-form-field appearance="fill">
    <mat-label>Achievement</mat-label>
    <input matInput placeholder="Enter details here" formControlName='achievement' required>
    <mat-error *ngIf="achievements.invalid"> Field value cannot be empty </mat-error>
  </mat-form-field>

  <div class="space-between" mat-dialog-actions>
    <button mat-button mat-dialog-close>Close</button>
    <button mat-button [disabled]='achievements.invalid' (click)='onSave("ACH")' color='primary'>Save</button>
  </div>
</form>

<form [formGroup]='name' *ngIf='dialog.code === "NAME"'>
  <h2 mat-dialog-title>Edit Name</h2>

  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput placeholder="Enter name here" formControlName='name' required>
    <mat-error *ngIf="achievements.invalid"> Field value cannot be empty </mat-error>
  </mat-form-field>

  <div class="space-between" mat-dialog-actions>
    <button mat-button mat-dialog-close>Close</button>
    <button mat-button [disabled]='name.invalid' (click)='onSave("NAME")' color='primary'>Save</button>
  </div>
</form>