<div class='space-between'>

  <div class='intro'>
    <br/>
    <app-intro></app-intro>
  </div>

  <div class='profile' style="width: 12em">
    <app-profile></app-profile>
  </div>

</div>

<div class='margin'>
  <app-about></app-about>
</div>

<div class='main'>
  
  <div class='left'>
    <app-left></app-left>
  </div>

  <div class='right'>
    <app-right></app-right>
  </div>

</div>

<div class="bottom-right">
  <button *ngIf='data?.editMode' (click)='data?.toggleEditMode()' mat-fab color='dark' aria-label="Print CV">
    <mat-icon>print</mat-icon>
  </button>
</div>

