.main {

  display: grid;
  grid-template-columns: 60% 40%;
  height: auto;
  min-width: 100%;

  div {
    padding: 0 2em;
  }
}

.about {
  grid-column: 1 / 3;
}

.space-between {
  display: flex;
  padding: 2em 2em 0 2em;
  justify-content: space-between;
}

.margin {
  margin: 0 2em;
}

.bottom-right {
  position: fixed;
  bottom: 2em;
  right: 2em;
}

.profile {
  width: 12em;
  position: relative;
  top: 8px;
}
