<div *ngIf='!data.editMode' style='width: 120px'>
</div>

<div class='space-between'>

  <div class='intro' style="width:100%;">
    <br />
    <app-intro></app-intro>
  </div>

  <div (mouseenter)='profileHover=true' (mouseleave)='profileHover = false' class='profile'>
    <app-profile [hover]='profileHover'></app-profile>
  </div>

</div>

<div class='margin'>
  <app-about></app-about>
</div>

<div class='main'>

  <div class='left'>
    <app-left></app-left>
  </div>

  <div class='right'>
    <app-right></app-right>
  </div>

</div>

<div class="bottom-right">
  <button *ngIf='data?.editMode' (click)='data?.toggleEditMode()' mat-fab color='dark' aria-label="Print CV">
    <mat-icon>print</mat-icon>
  </button>
</div>