.main {
  display: grid;
  grid-template-columns: 60vw 32vw;
  grid-template-rows: 32vw minmax(2em, 8em) auto;
  height: 100%;
  width: 100%;

  div {

    &:nth-child(1) {
      padding: 2em 0 0 2em;
    }

    &:nth-child(2) {
      padding: 2em 2em 0 0;
    }

    padding: 0 2em 0 2em;

  }

}

.about {
  grid-column: 1 / 3;
}
