<h2> Education </h2>

<mat-list>

  <!-- Boilerplate -->
  <mat-list-item>
    <mat-icon mat-list-icon>school</mat-icon>
    <div mat-line> Chitkara University </div>
    <div mat-line class='secondary'> GPA : 9.* </div>
  </mat-list-item>

  <mat-list-item>
    <mat-icon mat-list-icon>school</mat-icon>
    <div mat-line> Geeta Adarsh Vidyalaya </div>
    <div mat-line> Result : 92.4% </div>
  </mat-list-item>

  <!-- Actual -->
  <mat-list-item *ngFor='let school of data?.education'>
    <mat-icon mat-list-icon>school</mat-icon>
    <div mat-line> {{ school?.authority }} </div>
    <div mat-line> Result : {{ school?.score | gradeType:(school?.type) }} </div>
  </mat-list-item>

</mat-list>

<br />


<h2> Experience </h2>

<mat-list>

  <!-- Boilerplate -->
  <mat-list-item>
    <mat-icon mat-list-icon>work</mat-icon>
    <div mat-line> Software intern - <i> SimplifyVMS </i></div>
    <div mat-line class='secondary'> May 2021 - May 2022 </div>
  </mat-list-item>

  <mat-list-item>
    <mat-icon mat-list-icon>work</mat-icon>
    <div mat-line> Technical Writer - <i> GeeksforGeeks </i></div>
    <div mat-line> Jan 2020 - Mar 2020 </div>
  </mat-list-item>

  <!-- Actual -->
  <mat-list-item *ngFor='let company of data?.experience'>
    <mat-icon mat-list-icon>work</mat-icon>
    <div mat-line> {{ company?.position }} - <i> {{ company?.company }} </i></div>
    
    <!-- TODO: Add 'custom' pipe for enum rendering here -->
    <div mat-line> {{ company?.startMonth }} {{ company?.startYear }} - {{ company?.endMonth }} {{ company?.endYear }} </div>
  </mat-list-item>

</mat-list>

<br />

<h2> Certifications </h2>

<ul>

  <!-- Boilerplate -->
  <li> Working with Google Cloud </li>
  <li> IT automation with python </li>

  <!-- Actual -->
  <li *ngFor='let certificate of data?.certifications'> {{ certificate }} </li>

</ul>

<br/>
