<h2> Education </h2>

<button *ngIf='data?.editMode' (click)="dialog.openDialog('EDU')" mat-stroked-button class='spread' color="dark"> +
</button>

<mat-list>

  <!-- Rendering template -->
  <app-rm-panel *ngFor='let school of data?.education; index as it' (close)='deleteEducation(it)'>
    <mat-list-item>
      <mat-icon mat-list-icon>school</mat-icon>
      <div mat-line> {{ school?.authority }} </div>
      <div mat-line> {{ school?.score | gradeType:(school?.type) }} </div>
    </mat-list-item>
  </app-rm-panel>

</mat-list>

<br />
<br />

<h2> Experience </h2>

<button *ngIf='data?.editMode' (click)="dialog.openDialog('EXP')" mat-stroked-button class='spread' color="dark"> +
</button>

<mat-list>

  <!-- Rendering template -->
  <app-rm-panel *ngFor='let company of data?.experience; index as it' (close)='deleteExperience(it)'>
  <mat-list-item>
      <mat-icon mat-list-icon>work</mat-icon>
      <div mat-line> {{ company?.position }} - <i> {{ company?.company }} </i></div>
      <div *ngIf='company.endMonth' mat-line> {{ company?.startMonth }} {{ company?.startYear }} - {{ company?.endMonth }}
        {{ company?.endYear }} </div>
      <div *ngIf='!company.endMonth' mat-line> {{ company?.startMonth }} {{ company?.startYear }} - <i>Present</i> </div>
    </mat-list-item>
  </app-rm-panel>

</mat-list>

<br />
<br />

<h2> Certifications </h2>

<button *ngIf='data?.editMode' (click)="dialog.openDialog('CER')" mat-stroked-button class='spread' color="dark"> +
</button>

<ul>
  <!-- Rendering template -->
  <li *ngFor='let certificate of data?.certifications'> {{ certificate }} </li>
</ul>

<br />
<br />