<h2> Experience </h2>

<mat-list>

  <mat-list-item>
    <mat-icon mat-list-icon>work</mat-icon>
    <div mat-line> Software intern - <i> SimplifyVMS </i></div>
    <div mat-line class='secondary'> May 2021 - May 2022 </div>
  </mat-list-item>

  <mat-list-item>
    <mat-icon mat-list-icon>work</mat-icon>
    <div mat-line> Technical Writer - <i> GeeksforGeeks </i></div>
    <div mat-line> Jan 2020 - Mar 2020 </div>
  </mat-list-item>

</mat-list>

<br />

<h2> Certifications </h2>

<ul>
  <li> Working with Google Cloud </li>
  <li> IT automation with python </li>
</ul>

<br/>
