@import '../../../color.scss';

h2 {
  color: $primary-normal;
}

p {
  color: $primary-dark;
}

div[mat-line] {
  font-size: 0.8em !important;
}

ul {
  line-height: 2;
  color: $primary-normal;
  padding-left: 0px !important;
}

.spread {
  width: 280px;
}

button {
  margin-bottom: 0.5em;
}
