<mat-icon *ngIf='!imgSelected && !viewMode' aria-hidden="false" (mouseenter)="onEnter()" (mouseleave)="onLeave()"
  (click)="onClick()" aria-label="Profile">
  {{ iconName }}
</mat-icon>

<div class='imgContainer' [ngClass]="imgSelected?'':'hidden'">
  <img id='profileImg' alt='profile' [ngClass]="imgSelected?'':'hidden'" />
</div>

<input id="profileInput" type="file" accept="image/*" class="hidden" (change)='setProfile()' />
<span *ngIf='imgSelected && removeIcon' (click)='removeImage()' class='close'> &times; </span>
<span *ngIf='!(imgSelected && removeIcon)' class='close'> &nbsp; </span>