@import "../../../color.scss";

.hidden {
  display: none;
  visibility: hidden;
}

mat-icon {

  font-size: 12em;
  color: $primary-normal;

  &:hover {
    color: $primary-light;
    cursor: pointer;
  }

}

img {
  position: relative;
  width: auto;
  height: auto;
}

.imgContainer {
  border-radius: 12em;
  width: 12em;
  height: 12em;
  overflow: hidden;
}

.close {
  position: relative;
  cursor: pointer;
  bottom: 6.8em;
  left: 6.8em;
  font-size: x-large;
  height: 0px;
}
