@import "../../../color.scss";

.hidden {
  display: none;
  visibility: hidden;
}

mat-icon {

  font-size: 28vh;
  color: $primary-normal;

  &:hover {
    color: $primary-light;
    cursor: pointer;
  }

}

img {
  position: relative;
  width: auto;
  height: auto;
}

.imgContainer {
  border-radius: 14vh;
  width: 28vh;
  height: 28vh;
  overflow: hidden;
}
