$primary-normal: #424242;
$primary-light: #6d6d6d;
$primary-dark: #1b1b1b;
$primary-text: #ffffff;
$secondary-normal: #bdbdbd;
$secondary-light: #efefef;
$secondary-dark: #8d8d8d;
$secondary-text: #000000;
